.formulario {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  text-align: center;
  padding: 20px;
}

.card {
  width: 150px;
  height: 300px;
  padding: 10px;
}
.row {
  margin-top: 5px;
  gap: 20px;
}
.container {
  margin-left: 350px;
}
.col {
  width: 150px;
  height: 300px;
}
/* .boton{
  padding-top: 20px;

} */
#navbarDropdown {
  border-radius: 30px;
}
.contacto {
  background: green;
}

.imagenes:hover {
  transform: scale(1.2); /* Ajusta el valor para el nivel de zoom deseado */
}
.lateral {
  margin-left: 30px;
  margin-right: 30px;
  width: 350px;
}
